@charset "UTF-8";

#Informatie {
  background-color: #000;
  height: 400px;
}

#Informatie h1{
  font-size: 50px;
  color: white;
}

#Producten {
  background-color: green;
  height: 400px;
}

#Producten h1{
  font-size: 50px;
  color: black;
}

#Services {
  background-color: orange;
  height: 400px;
}

#Services h1{
  font-size: 50px;
  color: black;
}

#Contact {
  background-color: yellow;
  height: 400px;
}

#Contact h1{
  font-size: 50px;
  color: black;
}
