@charset "UTF-8";

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
}

#copyright {
    color: red;
    font-size: 20px;
    }

footer a {
    text-decoration: none;
}
