@charset "UTF-8";

#side_nav_producten {
  list-style-type: none;
  margin-left: 8%;
  width: 200px;
  background-color: #f1f1f1;
}

#side_nav_producten > li > button {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 17px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

#side_nav_producten > li > button:hover {
  background-color: #555;
  color: white;
}

.top_bar_producten {
  background-color: #f1f1f1;
  position: absolute;
  left: 28%;
}

.product_header{
  margin-top: 8%;
  margin-bottom: 6%;
}

#top_bar_text {
  margin-left: 5%;
  width: 100%;
  margin-right: 50rem; /* REVIEW: Verander dit */
}

#Producten{
  margin-top: 10%;
}

#product_title_filter {
    margin-left: 8%;
    width: 200px;
    text-decoration: none;
    background-color: #C8C8C8;
    text-align: center;
}

#second_winkelwagen {
  background: url(https://image.flaticon.com/icons/png/512/60/60992.png) no-repeat;
  background-size: 25px;
  padding-left: 30px;
  margin-left: 84%;
  bottom: 12px;
  position: absolute;
}

img {
  border-radius: 5px 5px 0 0;
}

.beschrijving {
  padding: 2px 16px;
}

.vuurwerk_product {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
}

.vuurwerk_product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.filterDiv {
  display: none;
}

.btnfilter.active{
  background-color: #666 !important;
  color: white;
}

.show{
  display: block;
}
