@charset "UTF-8";

.side_nav_producten {
  list-style-type: none;
  margin-left: 8%;
  width: 200px;
  background-color: #f1f1f1;
}

.side_nav_producten > li > button {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 17px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

.side_nav_producten > li > button:hover {
  background-color: #555;
  color: white;
}

.top_bar_producten {
  background-color: #f1f1f1;
  position: absolute;
  margin-left: 28%;
}

#Producten > div {
  margin-top: 6%;
  margin-bottom: 6%;
}

#top_bar_text {
  margin-left: 5%;
  margin-right: 51.5rem;
}

#product_title_filter {
    margin-left: 8%;
    width: 200px;
    text-decoration: none;
    background-color: #C8C8C8;
    text-align: center;
}

#second_winkelwagen {
  background: url(https://image.flaticon.com/icons/png/512/60/60992.png) no-repeat;
  background-size: 25px;
  padding-left: 30px;
  margin-left: 53.5rem;
  bottom: 12px;
  position: absolute;
}

img {
  border-radius: 5px 5px 0 0;
}

.beschrijving {
  padding: 2px 16px;
}


.vuurwerk_product {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 28%;
  position: absolute;
  top: 111%;
}

.vuurwerk_product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vuurwerk_product2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 45%;
  position: absolute;
  top: 111%;
}

.vuurwerk_product2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.vuurwerk_product3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 62%;
  position: absolute;
  top: 111%;
}

.vuurwerk_product3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vuurwerk_product4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 79%;
  position: absolute;
  top: 111%;
}

.vuurwerk_product4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vuurwerk_product5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 28%;
  position: absolute;
  top: 148%;
}

.vuurwerk_product5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vuurwerk_product6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 45%;
  position: absolute;
  top: 148%;
}

.vuurwerk_product6:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.vuurwerk_product7 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 62%;
  position: absolute;
  top: 148%;
}

.vuurwerk_product7:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vuurwerk_product8 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin-left: 79%;
  position: absolute;
  top: 148%;
}

.vuurwerk_product8:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
